body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #666666;
}

header, main, footer {
    text-align: center;
}

header, footer {
    flex-shrink: 0;
    color: #ffffff;
}

header, footer {
    height: 80px;
}

header {
    background-color: #e74c3c;
}

main {
    flex: 1 0 auto;
    background: #ecf0f1;
}

footer {
    background-color:  #2f3e50;
}